.wrappers {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.img {
    width: 250px;
}

.text {
    margin-top: var(--spacing-large);
    font-size: var(--font-size-subheader);
    color: var(--color-white);
    text-shadow: var(--text-shadow-blue);
}