.wrapper__input {
    --border-radius: 3px;
    --border: 3px;
    --clear-width: 20px;
}

.wrapper__input {
    position: relative;
    display: inline-flex;
}

.input {
    min-width: 300px;
    padding: 10px 15px;

    border: var(--border-radius) solid #dfe2df;
    border-radius: var(--border-radius);
    font-size: 16px;
    font-family: sans-serif;
    outline: none;
}

.input:focus {
    border-color: #6a83fb;
}

.clear {
    position: absolute;
    right: 10px;
    width: var(--clear-width);
    height: 100%;
    object-fit: contain;
    object-position: center center;
    transition: .5s;
    opacity: .4;
    cursor: pointer;
}

.clear__disabled {
    opacity: .2;
}