:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-yellow: #ffff00;
  --color-dark-gray: #10100e;

  --spacing-medium: 20px;

  --font-family-main: sans-serif;

  --font-size-header: 26px;

  --border-radius-snmall: 3px;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-dark-gray);
  font-family: var(--font-family-main);
}

h1 {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  color: #3E4958;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}